<app-navbar></app-navbar>
<div class="main-container">
  <div class="header">
    <span class="title">Ayuda</span>
    <span class="description">Aquí podrás encontrar vídeos instructivos y tutoriales del uso de la plataforma.</span>
  </div>
  <div class="video-card">
    <div class="title-container">
      <span class="title">Vídeos</span>
    </div>
    <div class="row">
      <div class="video-container">
        <span class="title">¿Cómo registrarse e iniciar sesión?</span>
        <iframe width="100%" height="300" src="https://www.youtube.com/embed/0wnnaKz7_Q0?si=ZspCu-ozALQ9bQsI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div class="video-container">
        <span class="title">¿Cómo crear una máquina virtual?</span>
        <iframe width="100%" height="300" src="https://www.youtube.com/embed/yFsQSiWi_Gk?si=kHB_eFgTBGgLAnng" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
