<app-navbar></app-navbar>
<div class="main-container">
  <div class="header">
    <span class="title">Ayuda</span>
    <span class="description">Aquí podrás encontrar vídeos instructivos y tutoriales del uso de la plataforma.</span>
  </div>
  <div class="video-card">
    <div class="title-container">
      <span class="title">Vídeos</span>
    </div>
    <div class="row">
      <div class="video-container">
        <span class="title">Vídeo 1</span>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/75zHkAHeOGo?si=OsEKCL7FBfB5Rrnb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div class="video-container">
        <span class="title">Vídeo 1</span>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/5B3JGUXSRJo?si=NC5HyI-j2DD9XALc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
