/*____________________HEADER______________________*/
* {
  padding: 0;
  margin-top: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.main-container {
  display: flex;
  background-color: #022128;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
}

.content {
  display: flex;
  width: 80vw;
  height: 100%;
  background-color: #ffffff;
  flex-direction: column;
  padding-top: 6%;
}

.vm-container {
  display: flex;
  justify-content: center;
  width: 85%;
  height: 90%;
  background-color: white;
  margin: auto;
  padding-top: 3%;
  flex-direction: column;
  border-radius: 10px;
}

.vm-container .header-container {
  display: flex;
  height: 100%;
  width: 100%;
  margin-bottom: 40px;
}

.vm-container .header-container .title {
  width: 100%;
  height: 100%;
  color: #022128;
  font-size: 32px;
  font-weight: bold;
}
.buttonh{
  width: 40%;
  height: 100%;
  text-align: center;
  color: #022128;
  background-color:white;
  border-width: 2px;
  border-style: solid;
  border-color: #022128;
  border-radius: 10px;
  line-height: 320%;
  transition: all .50s ease;
}
.vm-container .header-container .buttonh:hover{
  width: 40%;
  height: 100%;
  text-align: center;
  color: white;
  background-color:#C06800;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  line-height: 320%;
  transition: all .50s ease;
}

.card{
  height: 100vh;
  weight: 100vw;
}
.card .card-body{
  height: 70vh;
  weight: 100vw;
}
.lateral {
  display: flex;
  width: 20vw;
  height: 100vh;
  flex: 1;
  background-color: #022128;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.content{
  display: flex;
  width: 80vw;
  height: 100%;

  background-color: #ffffff;
  flex-direction: column;
}

.top{
  margin-top: 30%;
  width: 90%;
  height: 70%;
  text-align: center;
  line-height: 50px;
  color: #fff;
  align-self: flex-start;
}

.button{
  width: 90%;
  height: 70%;
  margin: 5%;
  text-align: center;
  line-height: 320%;
  align-self: flex-end;
  color: #022128;
  background-color:white;
}

/*____________________LATERAL BAR______________________*/
.seleccionado{
  color: white;
  background-color: #C06800;
  padding: 0px 20px 0px 20px;
  border-radius: 8px;
  font-weight: 500;
  transition: all .50s ease;
  width: 90%;
  height: 70%;
}
.navbar{
  display: flex;
  padding: 20% 10px 10px 10px;
  flex-direction: column;
}
.navbar a{
  padding: 0px 20px 0px 20px;
  border-radius: 8px;
  font-weight: 500;
  transition: all .50s ease;
  width: 90%;
  height: 70%;
}
.navbar a:hover{
  background-color:#C06800;
  color: white;
  font-weight: 500;
  transition: all .50s ease;
}
.navbar a i{
  margin-right: 10px;
  font-size: 120%;
}
.navbar-b{
  display: flex;
  padding: 10px 10px 10px 10px;
  flex-direction: column;
  align-items: center;
}
.navbar-b a{
  padding: 0px 20px 0px 20px;
  color: white;
  background-color:#D13A3A;
  border-radius: 8px;
  font-weight: 500;
  transition: all .50s ease;
  width: 100%;
  height: 70%;
}
.navbar-b a:hover{
  background-color:white;
  color: #D13A3A;
  font-weight: 500;
  transition: all .50s ease;
}

.navbar-b a i{
  margin-right: 10px;
  font-size: 120%;

}
.title{
  display: block;
  width: 100%;
  height: 50%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  margin: 0;
}

/*____________________TABLE______________________*/
.t-header{
  height: 60px;
  background-color: #0C4551;
  color: white;
  border-radius: 10px;
}

.tabla{
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

