<app-navbar></app-navbar>
<div class="main-container">
  <div class="lateral">
    <div class="top">
      <div class="navbar">
        <p class="title">¿Qué quieres hacer?</p>
        <a class="button" (click)="navig('userprofile')" [ngClass]="{seleccionado :select[0]}"><i
          class='bx bxs-user-detail'></i>Gestionar datos</a>
        <a class="button" (click)="navig('my-vm')" [ngClass]="{seleccionado: select[1]}"><i
          class="ri-computer-line"></i>Ver máquinas virtuales</a>
        <a class="button" (click)="navig('addpm')" *appRoles="['2']" [ngClass]="{seleccionado: select[2]}"><i
          class="ri-add"></i>Agregar máquina física</a>
        <a class="button" (click)="navig('my-vm')" *appRoles="['2']" [ngClass]="{seleccionado: select[3]}"><i
          class="ri-computer-line"></i>Monitorización</a>
      </div>
    </div>
    <div class="bottom">
      <div class="navbar-b">
        <a class="button" (click)="navig('logout')"><i class='bx bx-log-out'></i>Cerrar sesión</a>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="vm-container">
      <div class="header-container">
        <p class="title">Mis máquinas virtuales</p>
        <a class="buttonh" (click)="navig('createvm')">Crear máquina virtual</a>
      </div>
      <div class="card">
        <div class="card-body">
          <table class="tabla">
            <thead class="t-header">
            <tr>
              <th>Nombre</th>
              <th>Hostname</th>
              <th>Dirección IP</th>
              <th>Estado</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" *ngFor="let object of lista">
              <td>{{object.nombre}}</td>
              <td>{{object.hostname}}</td>
              <td>{{object.ip}}</td>
              <td>{{object.estado}}</td>
              <td>
                <button
                  [ngClass]="{'buttonFinish':object.estado == 'Iniciada', 'buttonInit':object.estado == 'Apagada'}"
                  (click)="iniciarVM(object)" *ngIf="object.estado == 'Iniciada';else apagar">Apagar
                </button>
              </td>
              <ng-template #apagar>
                <button
                  [ngClass]="{'buttonFinish':object.estado == 'Iniciada', 'buttonInit':object.estado == 'Apagada'}"
                  (click)="iniciarVM(object)">Iniciar
                </button>
              </ng-template>
              <td>
                <button class="buttonDelete" (click)="eliminarVM(object)"><i class='bx bxs-trash-alt'></i></button>
              </td>
              <td><a class="buttonDetails"><i></i>Detalles</a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
