<app-navbar></app-navbar>
<div class="main-container">
  <div class="header-container">
    <p class="title">Crear máquina virtual<a class="navegar" (click)="navig('my-vm')">Ver mis máquinas</a></p>
    <div class="description">Selecciona la opción que mejor se adapte a tus necesidades</div>
  </div>
  <div class="main-containerc">
    <div class="cards-container">
      <div class="col1">
        <div class="card-container">
          <div class="header-card">
            <div class="titlec">Máquina tipo 1</div>
          </div>
          <div class="body-card">
            <div class="titlecb">Sistema Operativo:</div>
            <div class="description">Debian11_64</div>
            <div class="titlecb">Memoria RAM</div>
            <div class="description">1024 Mb</div>
            <div class="titlecb">Núcleos de CPU</div>
            <div class="description">2</div>
            <div class="titlecb">Almacenamiento</div>
            <div class="description">20 Gb</div>
          </div>
          <div class="container-card">
            <a class="button" (click)="conectar(newVM1)">Crear</a>
          </div>
        </div>
      </div>
      <div class="col2" *appRoles="['3']">
        <div class="card-container">
          <div class="header-card">
            <div class="titlec">Máquina tipo 2</div>
          </div>
          <div class="body-card">
            <div class="titlecb">Sistema Operativo:</div>
            <div class="description">Debian11_64</div>
            <div class="titlecb">Memoria RAM</div>
            <div class="description">2048 Mb</div>
            <div class="titlecb">Núcleos de CPU</div>
            <div class="description">4</div>
            <div class="titlecb">Almacenamiento</div>
            <div class="description">30 Gb</div>
          </div>
          <div class="container-card">
            <a class="button" (click)="conectar(newVM2)">Crear</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
