<app-navbar></app-navbar>
<div class="main-container">
  <div class="header-container">
    <div class="title">Crear máquina virtual</div>
    <div class="description">Selecciona la opción que mejor se adapte a tus necesidades</div>
  </div>
  <div class="card-container">
    <div class="header-card">
      <div class="titlec">Máquina tipo 1</div>
    </div>
    <div class="body-card">
      <div class="titlecb">Sistema Operativo:</div>
      <div class="description">Debian11_64</div>
      <div class="titlecb">Memoria RAM</div>
      <div class="description">1024 Mb</div>
      <div class="titlecb">Núcleos de CPU</div>
      <div class="description">2</div>
      <div class="titlecb">Almacenamiento</div>
      <div class="description">20 Gb</div>

    </div>
    <div class="container-card">
      <a class="button" (click)="conectar()">Crear</a>
    </div>

  </div>
</div>
