/*.fondo {
  background-image: url('');
  background-size: cover;
  background-repeat: no-repeat;
}*/


.main-container{
  display: flex;
  background-color: #022128;
  width: 100vw;
  height: 100vh;
  justify-content: space-around;
}
.main-container .login-container{
  display: flex;
  justify-content: center;
  width: 28%;
  height: 70%;
  background-color: white;
  margin: auto;
  flex-direction: column;
  border-radius: 10px;
}

/*____________________HEADER______________________*/

.login-container .header-container{
  display: flex;
  height: 20%;
  width: 100%;
  flex-direction: column;
  text-align: center;
}

.login-container .header-container .title{
  display: block;
  width: 100%;
  height: 50%;
  color: #C06800;
  font-size: 32px;
  font-weight: bold;
  margin: 0;
}

.login-container .header-container .description{
  display: block;
  width: 80%;
  height: 50%;
  color: black;
  font-size: 18px;
  font-weight: 300;
  align-self: center;
  margin: 0;
}

/*_________________________INPUTS___________________________*/

.login-container .inputs{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 35%;
  align-items: center;

}

.login-container .inputs .input-container{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 50%;
  font-size: 20px;
  margin-top: 20px;
}

.inputs .input-container .input-text{
  height: 50%;
  font-size: 20px;
  margin-top: 5px;
  padding: 5px 15px;
  border: 1px solid #cccc;
  border-radius: 5px;
}

/*_____________________OPCIONES_____________________*/

.login-container .options-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: 5%;
  margin-top: 20px;
  padding: 0 10%;
}

.login-container .options-container .rememberme{
  display: flex;
  width: 30%;
}

.options-container .rememberme .remember-box{
  width: 20px;
  height: 20px;
}

.options-container .rememberme .remember-span{
  margin-left: 10px;
  text-align: center;
  font-size: 18px;
}

.login-container .options-container .pass-recover{
  width: 50%;
  text-align: center;
  text-decoration: underline;
  font-size: 18px;
}

/*____________________BUTTON_________________________*/

.login-container .login-button{
  width: 80%;
  height: 8%;
  margin: 20px auto;
  background-color: #C06800;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
}

/*____________________SIGNUP__________________________*/
.login-container .signup-container{
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 18px;
}

.login-container .signup-container .signup-button{
  color: #C06800;
  text-decoration: underline;
}
