/*.fondo {
  background-image: url('');
  background-size: cover;
  background-repeat: no-repeat;
}*/

.main-container{
  display: flex;
  background-color: #022128;
  width: 100vw;
  height: 100vh;
  margin: 0;
}
