<form  method="post" (submit)="login()">
  <div class="main-container">
    <div class="login-container">
      <a class="closeBtn" href="/home"><i class='bx bx-x' ></i></a>
      <div class="header-container">
          <p class="title">¡Hola!</p>
          <p class="description">Ingresa a tu cuenta para disfrutar de todos nuestros servicios.</p>
      </div>
      <div class="inputs">
        <div class="input-container">
          <label for="email">Correo electrónico</label>
          <input type="text" class="input-text" id="email" name="email" (keydown.enter)="login()" [(ngModel)]="user" placeholder="Tu correo electrónico">
        </div>
        <div class="input-container">
          <label for="pass">Contraseña</label>
          <input type="password" class="input-text" id="pass" name="pass" (keydown.enter)="login()" [(ngModel)]="password" placeholder="Tu contraseña">
        </div>
      </div>
      <div class="options-container">
        <div class="rememberme">
          <input type="checkbox" name="remember-box" class="remember-box" id="remember-box">
          <label class="remember-span" for="remember-box">Recuérdame</label>
        </div>
      </div>
      <button type="submit" class="login-button">INICIAR SESIÓN</button>
      <div class="signup-container">
        <span (click)="navig('registro')">¿No tienes una cuenta? <span class="signup-button">Regístrate</span></span>
      </div>
    </div>
  </div>
</form>
