/*____________________HEADER______________________*/
*{
  padding: 0;
  margin-top: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.main-container{
  display: flex;
  width: 100vw;
  height: 100vh;

}
.lateral {
  display: flex;
  width: 20vw;
  height: 100vh;
  flex: 1;
  background-color: #022128;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.content{
  display: flex;
  width: 80vw;
  height: 100%;
  background-color: #ffffff;
  flex-direction: column;
}

.top{
  margin-top: 30%;
  width: 90%;
  height: 70%;
  text-align: center;
  line-height: 50px;
  color: #fff;
  align-self: flex-start;
}

.button{
  width: 90%;
  height: 70%;
  margin: 5%;
  text-align: center;
  line-height: 320%;
  align-self: flex-end;
  color: #022128;
  background-color:white;
}


/*____________________LATERAL BAR______________________*/

.seleccionado{
  color: white;
  background-color: #C06800;
  padding: 0px 20px 0px 20px;
  border-radius: 8px;
  font-weight: 500;
  transition: all .50s ease;
  width: 90%;
  height: 70%;
}
.navbar{
  display: flex;
  padding: 10px 10px 10px 10px;
  flex-direction: column;
}
.navbar a{
  padding: 0px 20px 0px 20px;
  border-radius: 8px;
  font-weight: 500;
  transition: all .50s ease;
  width: 90%;
  height: 70%;
}
.navbar a:hover{
  background-color:#C06800;
  color: white;
  font-weight: 500;
}
.navbar a i{
  margin-right: 10px;
  font-size: 120%;
}
.navbar-b{
  display: flex;
  padding: 10px 10px 10px 10px;
  flex-direction: column;
  align-items: center;
}
.navbar-b a{
  padding: 0px 20px 0px 20px;
  color: white;
  background-color:#D13A3A;
  border-radius: 8px;
  font-weight: 500;
  transition: all .50s ease;
  width: 100%;
  height: 70%;
}
.navbar-b a:hover{
  background-color:white;
  color: #D13A3A;
  font-weight: 500;
}

.navbar-b a i{
  margin-right: 10px;
  font-size: 120%;

}
.title{
  display: block;
  width: 100%;
  height: 50%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  margin: 0;
}
