<app-navbar></app-navbar>
<div class="main-container">
  <div class="lateral">
    <div class="top">
      <div class="navbar">
        <p class="title">¿Qué quieres hacer?</p>
        <a class="button" (click)="navig('userprofile')" [ngClass]="{seleccionado :select[0]}"><i
          class='bx bxs-user-detail'></i>Gestionar datos</a>
        <a class="button" (click)="navig('my-vm')" [ngClass]="{seleccionado: select[1]}"><i
          class="ri-computer-line"></i>Ver máquinas virtuales</a>
        <a class="button" (click)="navig('addpm')" *appRoles="['2']" [ngClass]="{seleccionado: select[2]}"><i
          class="ri-add"></i>Agregar máquina física</a>
        <a class="button" (click)="navig('my-vm')"  *appRoles="['2']" [ngClass]="{seleccionado: select[3]}"><i
          class="ri-computer-line"></i>Monitorización</a>
      </div>
    </div>
    <div class="bottom">
      <div class="navbar-b">
        <a class="button" (click)="navig('logout')"><i class='bx bx-log-out'></i>Cerrar sesión</a>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="user-container">
      <div class="header-container">
        <p class="title">Perfil del usuario <a class="editar">Editar</a></p>
        <p class="description">Datos personales</p>
      </div>
      <div class="inputs">
        <div class="col1">
          <div class="input-container">
            <label for="nombre">Nombre</label>
            <input type="text" class="input-text" readonly id="nombre" name="nombre" value={{user.nombre}}>
          </div>
          <div class="input-container">
            <label for="email">Correo electrónico</label>
            <input type="text" class="input-text" readonly id="email" name="email" value={{user.correo}}>
          </div>
        </div>
        <div class="col2">
          <div class="input-container">
            <label for="apellido">Apellidos</label>
            <input type="text" class="input-text" readonly id="apellido" name="apellidos" value={{user.apellidos}}>
          </div>
          <div class="input-container">
            <label for="contraseña">Contraseña</label>
            <input  type="password" pattern=".{6,}" class="input-text" readonly id="contraseña" name="contraseña" value={{user.contrasenia}}>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
