<app-navbar></app-navbar>
<div class="main-container">
  <div class="banner">
    <div class="title">Bienvenido a Desktop Cloud</div>
    <div class="b-content">
      <a class="button-c" (click)="navig('createvm')">Crear máquina virtual</a>
      <a class="button-v" (click)="navig('my-vm')">Ver mis máquinas virtuales</a>
    </div>
  </div>
  <div class="info">
    <div class="col">
      <div class="content">
        <img class="logo" src="assets/remoto.png">
        <p class="description">Habilita el trabajo y aprendizaje remoto.</p>
      </div>
    </div>

    <div class="col">
      <div class="content">
        <img class="logo" src="assets/maquina.png">
        <p class="description">Crea máquinas virtuales de forma gratuita.</p>
      </div>
    </div>
    <div class="col">
      <div class="content">
        <img class="logo" src="assets/aprendizaje.png">
        <p class="description">Personaliza la experiencia de aprendizaje.</p>
      </div>
    </div>
  </div>
</div>
