.alerta{
  position: absolute;
  padding: 15px 30px 15px 30px;
  max-width: 500px;
  top: 135px;
  right: 10px;
  background-color: rgb(149, 224, 137);
  text-align: center;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.alert{
  transition: all .50s ease;
}
.error{
  position: absolute;
  padding: 15px 30px 15px 30px;
  max-width: 500px;
  top: 135px;
  right: 10px;
  background-color: rgb(245, 112, 92);
  text-align: center;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.aviso{

  position: absolute;
  padding: 15px 30px 15px 30px;
  max-width: 500px;
  top: 135px;
  right: 10px;
  background-color: rgb(77, 160, 179);
  text-align: center;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
.title{
  display: flex;
  font-size: 18px;
  text-align: left;
}
i{
  padding-right: 15px;
}
.description{
  font-size: 16px;
}
