<div class="blur-div">
</div>
<div class="details-container">
    <div class="header">
      <button><i class='bx bx-x' ></i></button>
      <p>Nombre máquina</p>
    </div>
    <div class="specifications">
      <div class="column">
        <div class="card">
          <p class="card-title">Sistema operativo</p>
          <p class="card-content">Debian 11</p>
        </div>
        <div class="card">
          <p class="card-title">CPU (Núcleos)</p>
          <p class="card-content">2</p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <p class="card-title">RAM (mb)</p>
          <p class="card-content">1024</p>
        </div>
        <div class="card">
          <p class="card-title">Almacenamiento</p>
          <p class="card-content">20</p>
        </div>
      </div>
    </div>
    <fieldset class="connection">
      <legend align="center">Conexión <i class='bx bxs-help-circle' ></i></legend>
      <p class="ssh-connection">ssh <span class="command"></span><i class='bx bx-copy-alt'></i></p>
      <button class="connection-button">Conectar a través del sitio</button>
    </fieldset>

</div>
