
.blur-div{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1500;
  filter: blur(10px);
  backdrop-filter: blur(10px);
}

.details-container{
  display: block;
  position: fixed;
  width: 30%;
  height: 62%;
  background-color: white;
  z-index: 1700;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
}

/*___________________________HEADER______________________*/
.details-container .header{
  display: flex;
  flex-direction: column;
}

.header button{
  align-self: end;
  margin: 5px;
  font-size: 25px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.header p{
  font-size: 28px;
  margin: 0;
  align-self: center;
  color: #C06800;
  font-weight: bolder;
}

/*_____________________SPECIFICATIONS__________________*/
.details-container .specifications{
  display: flex;
  flex-direction: row;
}

.details-container .specifications p{
  margin: 7% 0;
}

.specifications .column{
  width: 50%;
  text-align: center;
  font-size: 20px;
  margin: 20px 0;
}

.card .card-title{
  font-weight: bold;
}

/*_______________________CONNECTION_______________________*/
.connection{
  display: flex;
  max-width: 80%;
  max-height: 20%;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
  border: 1px solid black;
  /*padding: 5%;*/

}

.connection legend{
  font-size: 20px;
  font-weight: bold;
}
.connection .ssh-command{
  display: flex;
  margin-bottom: 2%;
}
.connection p{
  margin: 0;
  font-size: 20px;
}

.connection .copy-button{
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.connection .password{
  width: 50px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  text-align: center;
}

.connection .password:focus{
  outline: none;
}

.connection .pass-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
}

.connection .pass-container i{
  font-size: 22px;
}

.connection .pass-container button{
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.connection .connection-button{
  color: white;
  background-color: #0C4551;
  border: 2px solid #0C4551;
  border-radius: 5px;
  padding: 2% 15%;
  font-size: 20px;
  cursor: pointer;
}

.connection .connection-button:hover{
  color: #0C4551;
  background-color: #ffffff;
  border: 2px solid #0C4551;
}


